body { font-family: 'Times New Roman', Times, serif; font-size: 12px; margin-bottom: 60px; }
h2 { text-align: center; font-size: 16px; }
.section-title { font-weight: bold; margin-top: 15px; text-align: left; font-size: 14px; }
table { width: 100%; border-collapse: collapse; margin-bottom: 15px; }
table, th, td { border: 1px solid #000; padding: 5px; text-align: left; font-size: 12px; }
th { background-color: #f2f2f2; }

.header {
    display: fixed;
    align-items: left;
    padding-top: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

/* Logo styling */
.header img {
    width: 150px; /* Adjust to fit logo size */
    margin-right: 10px;
}

/* Company info styling */
.company-info {
    line-height: 1.5;
}

.company-info p {
    margin: 0;
}

.contact-info {
    font-weight: bold;
}

/* Additional details styling */
.report-info {
    text-align: right;
    margin-top: 10px;
    font-size: 11px;
}